h1 {
    text-align: center;
    font-style: italic;
  }
body {
     background-color: rgb(204, 218, 255);
     width: 1400px;
     padding: 5px;
     margin: 2px;
    }
nav {
        background-color: rgb(64, 201, 255);
        width: max-width;
        border: 5px solid rgb(0, 128, 96);
        padding: 2px;
        margin: 1px;
        list-style-type: none;
        text-decoration: none;
       }
main {
        background-color: rgb(204, 255, 231);
        width: 900px;
        border: 1px solid green;
        padding: 5px;
        margin: 2px;
       }
     
.active{
        background-color: rgb(64, 131, 255);
        list-style-type: none;
        width: 40px;
        }
    a {
      list-style-type: none;
      text-decoration: none;
      cursor: default;      
      text-decoration: none;
      }
     ul {
        list-style-type: none;
      }
footer{
        text-align: center;
        font-style: italic;
        font-size: 1.2em;
      }