h1 {
    text-align: center;
    font-style: italic;
  }
body {
     background-color: rgb(204, 218, 255);
     width: 1400px;
     padding: 5px;
     margin: 2px;
    }
nav {
        background-color: rgb(64, 201, 255);
        width: 740px;
        border:3px solid rgb(0, 128, 96);
        padding: 0px;
        margin: 1px;
        list-style-type: none;
        text-decoration: none;
       }
main {
        background-color: rgb(204, 255, 231);
        width: 740px;
        border: 1px solid green;
        padding: 2px;
        margin: 2px;
       }
     
.active{
        background-color: rgb(64, 131, 255);
        list-style-type: none;
        width: 40px;
        }
    a {
      list-style-type: none;
      text-decoration: none;
      cursor: default;      
      text-decoration: none;
      }
     ul {
        list-style-type: none;
      }
footer{
        text-align: center;
        font-style: italic;
        font-size: 1.2em;
      }
  img {
        border-radius: 8px;
        height: 400px;
        border-radius: 4px;
        padding: 5px;
        width: 740px;
      }
  table, td, th {
        border: 3px solid blueviolet;
        text-align: left;
        padding: 8px;
      }
      
table {
        width: 100%;
        border-collapse: collapse;
        width: 50%;
      }      
#ROW2{
        background-color: rgb(64, 255, 214);
      }
#ROW3{
        background-color: rgb(64, 147, 255);
      }